<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>로그인 페이지</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="/login" method="post">-->
<!--  <div>-->
<!--    <label>ID :</label>-->
<!--    <input name="loginID">-->
<!--  </div>-->
<!--  <div>-->
<!--    <label>PW :</label>-->
<!--    <input name="password" type="password">-->
<!--    &lt;!&ndash;  type="password" : 비밀번호를 마스킹(*)로 가려주는 옵션 &ndash;&gt;-->
<!--  </div>-->
<!--  <br>-->
<!--  &lt;!&ndash; submit => form을 작동 &ndash;&gt;-->
<!--  <button type="submit">로그인</button>-->
<!--  <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=c656590b2e206747ff7c91224beece79&redirect_uri=http://localhost:8080/auth/kakao/callback">-->
<!--    <img src="/kakao_login_medium_narrow.png">-->
<!--  </a>  &lt;!&ndash; button => form 작동 X &ndash;&gt;-->
<!--  <button type="button">-->
<!--    <a href="/join">가입</a>-->
<!--  </button>-->
<!--</form>-->
<!--<h1 th:text="${msg}"></h1>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Hello Spring Boot</h1>
<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
<a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
<a href="/oauth2/authorization/kakao" class="btn btn-secondary active" role="button">Kakao Login</a>
</body>
</html>
